section[data-css="events-show-major_advisor"],
section[data-css="events-show-like"],
section[data-css="events-show-dislike"],
section[data-css="events-show-expired"],
section[data-css="events-show-start"],
section[data-css="events-show-end"] {
  display: inline-block;
  margin-right: 20px;
}

section[data-css="notices-show-id"],
section[data-css="notices-show-priority"],
section[data-css="notices-show-title"],
section[data-css="notices-show-expired"],
section[data-css="notices-show-date"],
section[data-css="notices-show-like"],
section[data-css="notices-show-dislike"],
section[data-css="notices-show-content"],
section[data-css="notices-show-file"] {
  display: inline-block;
  margin-right: 20px;
}

.image {
  margin: 0 auto;
  width: fit-content;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.react-datepicker__aria-live {
  display: none;
}
.react-datepicker-time__input {
  width: 90%!important;
}
section[data-css="notices-show-priority"] {
  .adminjs_Badge {
    background-color: unset!important;
  }
}

section.login__Wrapper {
  .adminjs_Text {
    white-space: pre
  }
}